<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/flowershop?serverTimezone=UTC&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">flowershop_user</property>
        <property name="hibernate.connection.password">fs_password_123</property>

        <!-- behavior -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- entities -->
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Complaint"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Stores"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Employee"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Promotion"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Category"/>
        <mapping class="il.cshaifasweng.OCSFMediatorExample.entities.domain.Flower"/>

        <!-- add more as you map them (Customer, Order, etc.) -->
    </session-factory>
</hibernate-configuration>
